.header {
  background: $off-black;
  color: $raspberry;
  margin-bottom: $m-size;
  padding: $m-size 0;
}

.header__title {
  font-size: $xxl-size;
  margin: 0;
}

.header__subtitle {
  font-size: $l-size;
  font-weight: 500;
  margin: 0;
  color: $light-raspberry;
}

@media (min-width: $desktop) {
  .header {
    margin-bottom: $xxl-size;
  }
}
