// colors:
$off-black: #1a1a1d;
$off-grey: #4e4e50;
$raspberry: #950740;
$light-raspberry: #9d4d6d;
$dimmed-pink: #6f2232;
$white-text: #c1c1c1;

//spacing:
$s-size: 1.1rem;
$m-size: 1.6rem;
$l-size: 1.8rem;
$xl-size: 3rem;
$xxl-size: 4.5rem;

$desktop: 45rem;